{% extends 'layout.html.twig' %}
{% block title %}Emploi | Entreprise{% endblock %}
{% block body %}
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('{{ ('templates/images/hero_1.jpg') }}');" id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-white font-weight-bold">Profile</h1>
                    <div class="custom-breadcrumbs">
                        <a href="#">Home</a> <span class="mx-2 slash">/</span>
                        <span class="text-white"><strong>Profile</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="site-section" id="next-section">
        <div class="container">

            <form class="p-4 p-md-5 border rounded" action="{{ path('app_entreprise_edit') }}" method="post" enctype="multipart/form-data">
            <div class="row align-items-center mb-5">

                <div class="col-lg-8 mb-4 mb-lg-0">
                    <div class="d-flex align-items-center">
                        <div>
                            <h2>Modifier Profil</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 ml-auto">
                    <div class="row">
                        <div class="col-6">
                            <a href="#" class="btn btn-block btn-light btn-md"><span class="icon-open_in_new mr-2"></span>Preview</a>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-block btn-primary btn-md" id="btnSave">Enrégistrer</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-12">
                        <h3 class="text-black mb-5 border-bottom pb-2">Mon Profil</h3>
                        <div class="form-group">
                            <img src="{% if app.user.entreprise!=null%}{% if app.user.entreprise.logo!=null%}{{ ('photoprofile/')}}{{ app.user.entreprise.logo }}{% else%} {{ ('photoprofile/nologo.png')}} {%endif%}{% else%} {{ ('photoprofile/nologo.png') }} {%endif%}" alt="Image" class="imageD" width="150px" height="150px"><br>
                        </div>
                        <div class="form-group">
                            <label class="btn btn-primary btn-md btn-file">
                                Choisir Logo
                                <input type="file" class="logo" id="logo" name="logo" accept="image/png, image/jpeg">
                            </label>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" readonly class="form-control" id="email" name="email" placeholder="exemple@domaine.com" value="{{ app.user.email }}">
                        </div>
                        <div class="form-group">
                            <label for="denomination">Dénomination</label>
                            <input required type="text" class="form-control" id="denomination" name="denomination" placeholder="Nom de l'Entreprise" {% if app.user.entreprise!=null%} value="{{ app.user.entreprise.nom }}" {%endif%}>
                        </div>
                        <div class="form-group">
                            <label for="telephone">Téléphone</label>
                            <input required type="text" class="form-control" id="telephone" name="telephone" placeholder="77 888 88 88" {% if app.user.entreprise!=null%} value="{{ app.user.entreprise.telephone }}" {%endif%}>
                        </div>
                        <div class="form-group">
                            <label for="adresse">Adresse</label>
                            <input required type="text" class="form-control" id="adresse" name="adresse" placeholder="Rue Carnot..., Dakar" {% if app.user.entreprise!=null%} value="{{ app.user.entreprise.adresse }}" {%endif%}>
                        </div>

                        <div class="form-group">
                            <label for="secteurs">Secteurs D'Activité</label>
                            <select required class="selectpicker border rounded" multiple="multiple" id="secteurs" name="secteurs[]" data-style="btn-black" data-width="100%" data-live-search="true" title="Choisissez vos Secteur d'Activité">
                                {% for s in secteurs %}
                                    <option value="{{ s.id }}" {%if app.user.entreprise!=null and app.user.entreprise.secteurs!=null and app.user.entreprise.hasSecteurs(s)==true%} selected="selected"{%endif%}>{{ s.libelle }}</option>
                                {% endfor%}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea required class="form-control" name="description" id="description">
                                {% if app.user.entreprise!=null%} {{ app.user.entreprise.description }} {%endif%}
                            </textarea>
                        </div>
                </div>

            </div>
            <div class="row align-items-center mb-5">

                <div class="col-lg-4 ml-auto">
                    <div class="row">
                        <div class="col-6">
                            <a href="#" class="btn btn-block btn-light btn-md" id="test"><span class="icon-open_in_new mr-2"></span>Preview</a>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-block btn-primary btn-md" id="btnSave2">Enrégistrer</button>
                        </div>
                    </div>
                </div>
            </div>
                <input type="hidden" id="id" name="id" {% if app.user.entreprise!=null%} value="{{ app.user.entreprise.id }}" {% else%} value="0"{%endif%}>
                <input type="hidden" name="entreprise_token"
                       value="{{ csrf_token('entreprise') }}"
                >
            </form>
        </div>
    </section>
    <!--Partie Demande-->
    <section class="site-section">
        <div class="container">

            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="section-title mb-2">Les Demandes d'Emploi</h2>
                </div>
            </div>
            {%if app.user!=null%}
                {%if app.user.entreprise!=null%}
                    {%if demandes is not empty%}
                        <ul class="job-listings mb-5">
                            {% for d in demandes %}
                                <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                                    <a href="#" data="{{ d.id }}-{{ d.cv }}"{#-{{ d.description }}-{{ d.getNiveauEtude }}-{{ d.getNbrAnneeExperience }}-{{ d.domaines.id }}" #} id="editDemande"
                                       role="button" data-toggle="modal" data-target="#offreModal"></a>
                                    <div class="job-listing-logo">
                                        <img src="{{ ('photoprofile/')}}{{ d.demandeur.photo }}" class="img-fluid">
                                    </div>

                                    <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                                        <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                                            <h2>{{ d.demandeur.getNomPrenom }}</h2>
                                            <strong>{{ d.offre.titre }}</strong>
                                        </div>
                                        <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                                            <span class="icon-room"></span> Dakar, Dakar
                                        </div>
                                        <div class="job-listing-meta">
                                        <span class="badge badge-danger">
                                            <a type="button" href="{{ path('delete_offre',{id:d.id}) }}">Delete</a>
                                        </span>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {%else%}
                        <div class="row mb-5 justify-content-center">
                            <div class="col-md-7 text-center">
                                <h2 class="section-title text-primary mb-2">Aucune Offre Enregistrée</h2>
                            </div>
                        </div>
                    {%endif%}
                {%else%}
                    <div class="row mb-5 justify-content-center">
                        <div class="col-md-7 text-center">
                            <h2 class="section-title text-warning mb-2">Veuiller compléter votre profil avant tout!!!</h2>
                        </div>
                    </div>
                {%endif%}
            {%endif%}

            <div class="row pagination-wrap">
                <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
                    <span>Showing 1-7 Of 43,167 Jobs</span>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <div class="custom-pagination ml-auto">
                        <a href="#" class="prev">Prev</a>
                        <div class="d-inline-block">
                            <a href="#" class="active">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                        </div>
                        <a href="#" class="next">Next</a>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--Modal display Demande-->
    <div class="modal fade" id="offreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="offreModalLabel">Demande</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="form1">
                    <div class="modal-body">
                        <embed id="cv" type="application/pdf" rameBorder="0"
                               scrolling="auto"
                               height="750"
                               width="100%">
                    </div>
                    <input type="hidden" id="idDemande" name="idDemande" value="0">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a id="acceptDemande" class="btn btn-warning">Enregister</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="application/javascript">
        $(document).ready(function ()
        {
            $('#btnSave,#btnSave2').click(function () {
                {% if app.user.entreprise!=null %}
                    if ($('#id').val() !== "0")
                    {
                        if ($('#logo').val() === "")
                        {
                            {% if app.user.entreprise.logo!=null %}
                                $('#logo').attr("value","{{ app.user.entreprise.logo }}");
                            {% else %}
                                $('#logo').attr("value","{{ ('nologo.png') }}");
                            {% endif %}
                            $('#logo').attr("type","text");
                        }
                    }
                {% endif %}
            });
            //charger image après selection
            $(".logo").change(function(e) {
                for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {

                    var file = e.originalEvent.srcElement.files[i];
                    var reader = new FileReader();
                    reader.onloadend = function() {
                        $('.imageD').attr("src", reader.result);
                    }
                    reader.readAsDataURL(file);
                }
            });
            $('#editDemande').click(function () {
                var data = $(this).attr("data").split('-');
                $('#idDemande').val(data[0]);
                $('#cv').attr('src',"{{ asset('photoprofile/')}}"+data[1]);
                $('#acceptDemande').attr('href',"{{ path('app_demande_accept',{'id':'x'})}}".replace("x",$('#idDemande').val()));
            });
        });
    </script>
{% endblock %}
