{% extends 'layout.html.twig' %}
{% block title %}Emploi | Entreprise{% endblock %}
{% block body %}
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('{{ ('templates/images/hero_1.jpg') }}');" id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-white font-weight-bold">Profile</h1>
                    <div class="custom-breadcrumbs">
                        <a href="#">Home</a> <span class="mx-2 slash">/</span>
                        <span class="text-white"><strong>Profile</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="site-section" id="next-section">
        <div class="container">

            <form class="p-4 p-md-5 border rounded" action="{{ path('app_entreprise_edit') }}" method="post" enctype="multipart/form-data">
            <div class="row align-items-center mb-5">

                <div class="col-lg-8 mb-4 mb-lg-0">
                    <div class="d-flex align-items-center">
                        <div>
                            <h2>Modifier Profil</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 ml-auto">
                    <div class="row">
                        <div class="col-6">
                            <a href="#" class="btn btn-block btn-light btn-md"><span class="icon-open_in_new mr-2"></span>Preview</a>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-block btn-primary btn-md" id="btnSave">Enrégistrer</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-12">
                        <h3 class="text-black mb-5 border-bottom pb-2">Mon Profil</h3>
                        <div class="form-group">
                            <img src="{% if app.user.entreprise!=null%}{% if app.user.entreprise.logo!=null%}{{ ('photoprofile/')}}{{ app.user.entreprise.logo }}{% else%} {{ ('photoprofile/nologo.png')}} {%endif%}{% else%} {{ ('photoprofile/nologo.png') }} {%endif%}" alt="Image" class="imageD" width="150px" height="150px"><br>
                        </div>
                        <div class="form-group">
                            <label class="btn btn-primary btn-md btn-file">
                                Choisir Logo
                                <input type="file" class="logo" id="logo" name="logo" accept="image/png, image/jpeg">
                            </label>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" readonly class="form-control" id="email" name="email" placeholder="exemple@domaine.com" value="{{ app.user.email }}">
                        </div>
                        <div class="form-group">
                            <label for="denomination">Dénomination</label>
                            <input required type="text" class="form-control" id="denomination" name="denomination" placeholder="Nom de l'Entreprise" {% if app.user.entreprise!=null%} value="{{ app.user.entreprise.nom }}" {%endif%}>
                        </div>
                        <div class="form-group">
                            <label for="telephone">Téléphone</label>
                            <input required type="text" class="form-control" id="telephone" name="telephone" placeholder="77 888 88 88" {% if app.user.entreprise!=null%} value="{{ app.user.entreprise.telephone }}" {%endif%}>
                        </div>
                        <div class="form-group">
                            <label for="adresse">Adresse</label>
                            <input required type="text" class="form-control" id="adresse" name="adresse" placeholder="Rue Carnot..., Dakar" {% if app.user.entreprise!=null%} value="{{ app.user.entreprise.adresse }}" {%endif%}>
                        </div>

                        <div class="form-group">
                            <label for="secteurs">Secteurs D'Activité</label>
                            <select required class="selectpicker border rounded" multiple="multiple" id="secteurs" name="secteurs[]" data-style="btn-black" data-width="100%" data-live-search="true" title="Choisissez vos Secteur d'Activité">
                                {% for s in secteurs %}
                                    <option value="{{ s.id }}" {%if app.user.entreprise!=null and app.user.entreprise.secteurs!=null and app.user.entreprise.hasSecteurs(s)==true%} selected="selected"{%endif%}>{{ s.libelle }}</option>
                                {% endfor%}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea required class="form-control" name="description" id="description">
                                {% if app.user.entreprise!=null%} {{ app.user.entreprise.description }} {%endif%}
                            </textarea>
                        </div>
                </div>

            </div>
            <div class="row align-items-center mb-5">

                <div class="col-lg-4 ml-auto">
                    <div class="row">
                        <div class="col-6">
                            <a href="#" class="btn btn-block btn-light btn-md" id="test"><span class="icon-open_in_new mr-2"></span>Preview</a>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-block btn-primary btn-md" id="btnSave2">Enrégistrer</button>
                        </div>
                    </div>
                </div>
            </div>
                <input type="hidden" id="id" name="id" {% if app.user.entreprise!=null%} value="{{ app.user.entreprise.id }}" {% else%} value="0"{%endif%}>
                <input type="hidden" name="entreprise_token"
                       value="{{ csrf_token('entreprise') }}"
                >
            </form>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="application/javascript">
        $(document).ready(function ()
        {
            $('#btnSave,#btnSave2').click(function () {

                if ($('#id').val() !== "0")
                {
                    if ($('#logo').val() === "")
                    {
                        {% if app.user.entreprise.logo!=null %}
                            $('#logo').attr("value","{{ app.user.entreprise.logo }}");
                        {% else %}
                            $('#logo').attr("value","{{ ('nologo.png') }}");
                        {% endif %}
                        $('#logo').attr("type","text");
                    }
                }
            });
            //charger image après selection
            $(".logo").change(function(e) {
                for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {

                    var file = e.originalEvent.srcElement.files[i];
                    var reader = new FileReader();
                    reader.onloadend = function() {
                        $('.imageD').attr("src", reader.result);
                    }
                    reader.readAsDataURL(file);
                }
            });
        });
    </script>
{% endblock %}
